* {
  font-family: "popins", sans-serif;
  color: aliceblue;
}

body {
  background-image: radial-gradient(
      ellipse at bottom left,
      rgba(0, 163, 203, 1) 40%,
      rgba(0, 163, 203, 0) 40%
    ),
    radial-gradient(
      ellipse at top right,
      rgba(0, 163, 203, 1) 30%,
      rgba(0, 163, 203, 0) 30%
    ),
    linear-gradient(
      to right,
      rgba(98, 87, 147, 1) 0%,
      rgba(98, 87, 147, 1) 33%,
      rgba(213, 93, 100, 1) 33%,
      rgba(213, 93, 100, 1) 66%,
      rgba(228, 145, 41, 1) 66%
    );
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.warpper {
  margin-top: 30px;
  background: transparent;
  height: 500px;
  width: 0;
  transition: 0.5s;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 14px;
}

.left,
.right {
  width: 350px;
  height: 500px;
  position: relative;
  z-index: 10;
  backdrop-filter: blur(2px);
  border-radius: 14px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: #ff6a88;
}

.center {
  width: 300px;
  height: 500px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circel {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: 4px white solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 700;
  user-select: none;
}

.circel .days {
  opacity: 0;
  transition: 2s;
}

.quorte {
  text-align: center;
  margin-top: 40px;
}

.quorte ul li {
  list-style-type: none;
  font-size: 36px;
  font-family: "Fira Sans Condensed", sans-serif;
  font-family: "Hurricane", cursive;
  text-transform: capitalize;
  animation: up 1s ease-in-out;
}

@keyframes up {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.social {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  background-color: #fff;
  transition: 0.5s ease-in-out;
  opacity: 0;
  z-index: 100;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left:hover .social,
.right:hover .social {
  transform: translateY(0);
  opacity: 1;
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;
}

.info {
  position: absolute;
  width: 350px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  background: transparent;
}

.info img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  object-fit: cover;
}

.social svg {
  height: 50px;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s;
}

.left:hover .social svg,
.right:hover .social svg {
  opacity: 1;
  transform: translateY(0px);
}

.social svg:hover {
  cursor: pointer;
  height: 60px;
}

.days {
  display: block;
  z-index: 1000;
  font-size: 60px;
  font-weight: 900;
  color: #fff;
}
